@import "../abstacts/variables";

.footer {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}

.footer_content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  @media (min-width: $bp-md) {
    padding: 30px 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__text {
  color: #333;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 400;

  & span {
    font-weight: bold;
  }
}