@import "../abstacts/variables";

.header{
  display: flex;
  height: min-content;
  padding: 20px;
  flex-direction: column;
  gap: 30px;
  max-width: 1920px;
  margin: 0 auto;

  @media (min-width: $bp-md) {
    padding: 40px;
  }
}

.header__top-text{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $bp-md) {
    margin-bottom: 30px;
  }
}

.header__menu-btn{
  color: $secondary-color;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header__middle-text-container--huge{
  color: $secondary-color;
  text-align: center;
  font-family: Gilroy;
  font-size: 57px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $bp-md){
    font-size: 120px;
  }

  @media (min-width: $bp-lg){
    font-size: 150px;
  }
}

.header__middle-text-container--small{
  color: $secondary-color;
  font-family: Gilroy;
  font-size: 57px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;

  @media (min-width: $bp-md){
    font-size: 120px;
  }

  @media (min-width: $bp-lg){
    font-size: 150px;
  }
}

.header__arrow{
  display: flex;
  width: 25px;
  height: 40px;
  margin: 0 auto;
}

.header__left-content-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__left-text{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__left-text--dianne{
  display: none;

  @media (min-width: $bp-md){
    display: flex;
    text-align: center;
    font-family: Gilroy;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.7px;
  }
}

.header__left-text--studio{
  display: none;

  @media (min-width: $bp-md){
    display: flex;
    font-family: Gilroy;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.7px;
    text-transform: uppercase;
  }
}

.header__left-text--symbol{
  display: none;

  @media (min-width: $bp-md){
    display: flex;
    text-align: center;
    font-family: Gilroy;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}