@import "../abstacts/variables";

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
}

.hero__image{
  display: flex;
  object-fit: cover;
  width: 100%;
  max-width: 1920px;
  max-height: 956px;
}

.hero__text-description{
  color: $secondary-color;
  text-align: center;
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  padding: 30px 20px;

  & span{
    font-weight: 800;
  }
  
  @media (min-width: $bp-md) {
    font-size: 52px;
  }
}

.hero__bottom-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: $secondary-color;
  padding: 40px 30px 40px 0;
  align-items: flex-end;

  @media (min-width: $bp-lg){
    padding: 60px 70px 60px 0;
    min-width: 485px;
    justify-content: center;
    max-height: 232px;
  }
}

.hero__bottom-text--about-me{
  color: $background-elements-color;
  font-family: Gilroy;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.hero__socials-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero__desktop-bottom-container{
  @media (min-width: $bp-lg){
    display: flex;
    flex-direction: row;
    padding: 70px 0;
    align-items: center;
  }
}

.hero__logos-container{
  display: flex;
  padding: 30px 20px;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;

  @media (min-width: $bp-md){
    padding: 40px 30px;
  }

  @media (min-width: $bp-lg){
    gap: 40px;
    padding: 70px;
  }
}

.hero__logos-item{
  display: flex;
  background-color: $background-elements-color;
  padding: 15px 35px;
  border-radius: 50px;
  align-items: center;
}