@import "../abstacts/variables";

.clients{
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  @media (min-width: $bp-lg) {
    margin-bottom: 50px;
  }
}

.clients__headline{
  color: $secondary-color;
  font-family: Gilroy;
  font-size: 80px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0 30px 0;

  @media (min-width: $bp-md) {
    font-size: 150px;
    letter-spacing: 6px;
    margin: 50px 0;
  }
  @media (min-width: $bp-lg) {
    font-size: 212px;
    letter-spacing: 8.48px;
    margin: 50px 0;
  }
}

.clients__content-container{
  padding: 0 30px;
  @media (min-width: $bp-lg) {
    display: grid;
    grid-template-columns: repeat(3, 567px);
    padding-bottom: 80px;
    & .border-1{
      border-bottom: 1px solid black;
      border-right: 1px solid black;
    }
    & .border-2{
      border-bottom: 1px solid black;
      border-right: 1px solid black;
    }
    & .border-3{
      border-bottom: 1px solid black;
    }
    & .border-4{
      border-right: 1px solid black;
    }
    & .border-5{
      border-right: 1px solid black;
    }
  }
}

.clients__card{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 0;
  border-bottom: 1px solid black;
  @media (min-width: $bp-lg) {
    padding: 40px;
    border: none;
  }
}

.clients__icon{
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card-headline{
  color: #333;
  font-family: Gilroy;
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
}
.card-paragraph{
  color: #000;
  font-family: Inter,sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.card-name-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.card-name{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.client-name{
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px; /* 100% */
}
.profession{
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px; /* 100% */
}