@import "../abstacts/variables";

.team {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  border-top: 1px solid black;
}

.team__headline {
  color: $secondary-color;
  font-family: Gilroy;
  font-size: 80px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
  @media (min-width: $bp-md) {
    font-size: 150px;
  }
  @media (min-width: $bp-md) {
    font-size: 212px;
    letter-spacing: 8.48px;
    margin: 50px;
  }
}

.team__content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  @media (min-width: $bp-md) {
    display: grid;
    grid-template-columns: repeat(2, minmax(334px, 446px));
    gap: 35px;
  }
  @media (min-width: $bp-lg) {
    display: grid;
    grid-template-columns: repeat(4, minmax(235px, 415px));
    gap: 35px;
    padding-bottom: 80px;
  }
}

.team__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  gap: 15px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: min-content;
  @media (min-width: $bp-md) {
    padding: unset;
  }
}

.team__name {
  color: #333;
  text-align: center;
  font-family: Gilroy;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  @media (min-width: $bp-md) {
    text-align: start;
  }
}

.team__profession {
  color: #333;
  text-align: center;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
  @media (min-width: $bp-md) {
    text-align: start;
  }
}

.team__img {
  display: block;
  aspect-ratio: 438/507;
  width: 100%;
  height: 100%;
  max-width: 438px;
  max-height: 507px;
  margin: 0 auto;
  object-fit: cover;
  filter: grayscale(100%);

  @media (min-width: $bp-md) {
    max-width: 446px;
    aspect-ratio: 446/507;
  }
  @media (min-width: $bp-lg) {
    max-width: 415px;
    aspect-ratio: 415/507;
  }
}

.team__links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  @media (min-width: $bp-md) {
    justify-content: end;
  }
}

.team__join-team {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 30px;

  @media (min-width: $bp-md) {
    grid-column: span 2;
    text-align: start;
    justify-content: start;
    align-items: start;
    padding: 0 30px;
  }
  @media (min-width: $bp-lg) {
    justify-content: center;
  }
}

.join-paragraph {
  color: #333;
  font-family: Gilroy;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  @media (min-width: $bp-md) {

  }
}

.join-headline {
  color: $secondary-color;
  text-align: center;
  font-family: Gilroy;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  @media (min-width: $bp-md) {
    text-align: unset;
    font-size: 64px;
  }
}

.team__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  background-color: $secondary-color;
  border-radius: 50px;
  padding: 10px 30px;
  width: 100%;
  color: $background-elements-color;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  @media (min-width: $bp-md) {
    width: auto;
  }
}