@import "../abstacts/variables";

.selected-work{
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  height: min-content;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $bp-md) {
    padding: 30px;
  }

  @media (min-width: $bp-lg) {
    padding: 70px 70px 100px;
  }
}

.selected-work__main-text{
  color: $secondary-color;
  text-align: center;
  font-family: Gilroy;
  font-size: 65px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $bp-md){
    font-size: 150px;
  }

  @media (min-width: $bp-lg){
    font-size: 212px;
  }
}

.selected-work__main-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;

  @media (min-width: $bp-md) {
    gap: 70px;
  }

  @media (min-width: $bp-lg) {
    margin-top: 50px;
  }
}

.selected-work__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: min-content;

  @media (min-width: $bp-md) {
    gap: 30px;
  }

  @media (min-width: $bp-lg) {
    display: grid;
    grid-template-columns: repeat(3, minmax(326px, 567px));
    gap: 40px;
  }
}

.grid-reverse:nth-child(1){
  @media (min-width: $bp-lg) {
    order: 2;
  }
}

.grid-reverse:nth-child(2){
  @media (min-width: $bp-lg) {
    order: 3;
  }
}

.grid-reverse:nth-child(3){
  @media (min-width: $bp-lg) {
    order: 1;
  }
}

.selected-work__img{
  aspect-ratio: 1/1;
  object-fit: cover;

  @media (min-width: $bp-lg){
    max-width: 567px;
    max-height: 567px;
    width: 100%;
    height: 100%;
  }
}

.selected-work__text-container{
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $bp-md) {
    gap: 30px;
  }

  @media (min-width: $bp-lg) {
    gap: unset;
    justify-content: space-between;
  }
}

.selected-work__text-link{
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $bp-md) {
    gap: 30px;
  }
}

.selected-work__text{
  font-family: Gilroy;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-transform: uppercase;

  @media (min-width: $bp-md){
    font-size: 40px;
  }
}

.selected-work__row-text{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.selected-work__link{
  display: flex;
  background-color: $background-elements-color;
  border-radius: 50px;
  padding: 10px 30px;
  width: auto;
  color: $secondary-color;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.selected-work__btn-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;

  @media (min-width: $bp-md) {
    margin-top: unset;
  }
}

.selected-work_btn{
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: $secondary-color;
  padding: 10px 30px;
  border-radius: 50px;
  width: min-content;
  align-items: center;
  color: $background-elements-color;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.selected-work_btn--all-work {
  display: flex;
  background-color: $background-elements-color;
  border-radius: 50px;
  padding: 15px 60px;
  max-width: 438px;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  color: $secondary-color;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (min-width: $bp-md) {
    max-width: 187px;
  }
}